.div1{
    font-size: 40px;
    font-weight: bolder;
    padding: 10px;
    margin-left: 100px;
    padding-bottom: 23px;
}

.heading{
    color: #00A5EC;
}

.div2{
    background-color: #F7F7F7;
    font-size: 22px;
    padding-top: 30px;
    padding-left: 1000px;
    text-decoration: none;
}


.flex-container{
    background-color: #F7F7F7;
    padding: 13px 138px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.flex{
    width: 250px;
    height: 260px;
    background-color: white;
    padding: 30px;
    margin: 20px;
    border: 1px solid #EDEDED;
    border-radius: 10px;
}

.flex:hover{
    box-shadow: 2px 2px 4px grey;
}

p{
    color: #00A5EC;
    padding-bottom: 12px;
    font-size: large;
}

hr{
    border-color: #F7F7F7;
    margin-bottom: 25px;
}

label{
    line-height: 30px;
}


.pop-up{
    opacity: 1;
    position: fixed;
    z-index: 1;
    transform: translate(-50%, -100%);
    left: 50%;
    top: 58%;
    width: 100%;
    height: 100%;
    margin-top: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(53, 50, 50, 0.61);
    align-items: center;
}

button {
    width: 140px;
    height: 40px;
    background: #00A5EC 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: white;
    font-size: large;
    position: absolute;
    left: 300px;
}

.Add-New-Task {
    width: 450px;
    height: 200px;
    border: 1px solid rgb(235, 231, 231);
    border-radius: 20px;
    background-color: white;
    font-size: x-large;
    padding: 10px 0px 0px 15px;
    font-weight: bold;
    position: fixed;
    bottom: 210px;
    left: 480px;
}

.fa-xmark {
    position: absolute;
    left: 410px;
}

.input {
    width: 430px;
    height: 40px;
    border-radius: 4px;
    background-color: #f7f7f7;
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

.single-task{
    padding: 50px;
    background-color: #F7F7F7;
    text-align: center;
    height: 100%;
    padding-bottom: 30px;
    position: relative;
}

.box1{
    width: 300px;
    height: 260px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #EDEDED;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: absolute;
    left: 37%;
    top: 18%;
}

.page3{
    height: 550px;
}

.back{
    position: relative;
    top: 2%;
    right: 4%;
    color: black;
    font-size: 20px;
}

.left{
    position: relative;
    left: 4%;
    font-size: 20px;
}

.fa-solid{
    color: rgb(61, 56, 56);
    font-size: 30px;
}


@media (min-width: 360px) and (max-width: 420px) {
    .div1{
        font-size: 30px;
        font-weight: bolder;
        padding: 10px;
        margin-left: 10px;
        padding-bottom: 16px;
    }

    .div2{
        background-color: #F7F7F7;
        font-size: 30px;
        padding-top: 30px;
        padding-left: 0px;
        text-decoration: none;
        text-align: center;
        margin-left: -8px;
        margin-right: -8px;
    }
    .add{
        display: none;
    }
    .flex-container{
        background-color: #F7F7F7;
        padding: 13px 0;
        display: flex;
        flex-wrap: wrap;
        margin-left: -8px;
        margin-right: -8px;
    }
    .flex{
        width: 260px;
    }

    .pop-up{
        margin-top: 352px;
    }
    .Add-New-Task {
        width: 322px;
        height: 233px;
        padding: 20px 0px 0px 15px;
        bottom: 318px;
        left: 10px;
    }
    button {
        left: 150px;
        bottom: 40px;
    }
    .input {
        width: 300px;
    }

    .single-task{
        margin-left: -8%;
        margin-right: -8%;
    }

    .page3{
        height: 100vh;
    }

    .box1{
        width: 295px;
        height: 270px;
        background-color: white;
        left: 8%;
        top: 15%;
        font-size: 22px;
    }

    .left{
        display: none;
        align-items: center;
        left: -15%;
    }

    .back{
        left: -29%;
        font-size: 22px;
    }

    .fa-xmark {
        position: absolute;
        left: 290px;
    }
}